@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Pixelify+Sans:wght@400;500&family=Roboto+Mono&display=swap');

* {
  font-family: 'Orbitron', sans-serif;
  font-family: 'Pixelify Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

body {
  /* Image by Chen https://pixabay.com/users/chenspec-7784448 */
  background-image: url('/assets/lollipop-5979088_1920.jpg');
}

.titulo-jogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  background: cornsilk;
  border-radius: 15px;
}

.titulo-jogo h1 {
  font-size: 18px;
}

.janela-jogo,
.regras-do-jogo,
.container-reset {
  padding: 10px;
  background: darkseagreen;
  border-radius: 15px;
  padding: 10px;
  background: darkseagreen;
  border-radius: 15px;
  width: 93%;
  margin: 0 auto;
  text-align: center;
  border: 2px solid gainsboro;
}

@media (min-width: 768px) {

  .janela-jogo,
  .regras-do-jogo,
  .container-reset {
    width: 50% !important;
  }

  .titulo-jogo h1 {
    font-size: 30px;
  }

  .painel button {
    /* Important to override global */
    margin: 0 15px !important;
  }
}

.placar,
.painel,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.placar {
  flex-direction: column;
  flex-wrap: wrap;
  background: #222222;
  color: springgreen;
  border-radius: 5px;
}

.painel button {
  font-weight: bold;
  cursor: pointer;
  height: 40px;
  margin: 0 3px;
  width: 100px;
  border-radius: 15px;
  border: none;
}

.painel button:hover {
  box-shadow: 1px 1px 1px 1px greenyellow;
}

footer h4 a,
.container-reset a {
  color: wheat;
  padding: 5px;
  background: #2a2b27;
  border-radius: 5px;
  font-weight: normal;
}

.regras-do-jogo,
.container-reset {
  margin-top: 8px;
}

.regras-do-jogo h4 {
  text-align: center;
  background: cornsilk;
  border-radius: 15px;
}

.regras-do-jogo ol {
  flex-direction: column;
  flex-wrap: wrap;
  background: #222222;
  color: springgreen;
  border-radius: 5px;
}

.container-reset a {
  text-decoration: none;
}