@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Pixelify+Sans:wght@400;500&family=Roboto+Mono&display=swap');

* {
  font-family: 'Orbitron', sans-serif;
  font-family: 'Pixelify Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

body {
  /* Image by Chen https://pixabay.com/users/chenspec-7784448 */
  background-image: url('/assets/lollipop-5979088_1920.jpg');
}

.titulo-jogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  background: cornsilk;
  border-radius: 15px;
}

.titulo-jogo h1 {
  font-size: 18px;
}

.janela-jogo,
.regras-do-jogo,
.container-reset {
  padding: 10px;
  background: darkseagreen;
  border-radius: 15px;
  padding: 10px;
  background: darkseagreen;
  border-radius: 15px;
  width: 93%;
  margin: 0 auto;
  text-align: center;
  border: 2px solid gainsboro;
}

@media (min-width: 768px) {

  .janela-jogo,
  .regras-do-jogo,
  .container-reset {
    width: 50% !important;
  }

  .titulo-jogo h1 {
    font-size: 30px;
  }

  .painel button {
    /* Important to override global */
    margin: 0 15px !important;
  }
}

.placar,
.painel,
.titulo-score,
.painel-score,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-score,
.painel-score {
  justify-content: space-around;
}

.painel-score h2 {
  background: #ede3e3;
  padding: 5px 10px;
  border-radius: 0;
  color: #393838;
}

.painel-score {
  background: #222222;
  border-radius: 5px;
  color: springgreen;
  margin-bottom: 10px;
}

.placar {
  flex-direction: column;
  flex-wrap: wrap;
  background: #222222;
  color: springgreen;
  border-radius: 5px;
}

.painel button {
  font-weight: bold;
  cursor: pointer;
  height: 40px;
  margin: 0 3px;
  width: 100px;
  border-radius: 15px;
  border: none;
}

.painel button:hover {
  box-shadow: 1px 1px 1px 1px greenyellow;
}

footer h4 a,
.container-reset a {
  color: wheat;
  padding: 5px;
  background: #2a2b27;
  border-radius: 5px;
  font-weight: normal;
}

.regras-do-jogo,
.container-reset {
  margin-top: 8px;
}

.regras-do-jogo h4 {
  text-align: center;
  background: cornsilk;
  border-radius: 15px;
}

.regras-do-jogo ol {
  flex-direction: column;
  flex-wrap: wrap;
  background: #222222;
  color: springgreen;
  border-radius: 5px;
}

.container-reset a {
  text-decoration: none;
}

/* Animations */
.placar h2,
.painel button {
  animation: 1s ease-out 0s 1 slideInLeft;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.animacao-placar {
  color: gold;
  text-transform: uppercase;
  border: 5px solid goldenrod;
  transition: border-width 0.3s linear;
  padding: 5px;
}

@keyframes animaPlacar {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}